/* estiloza globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body{
    background: linear-gradient(
       136.16deg,
       rgba(91,135,75,0.97) 12.91%,
       rgba(12,55,32,0.87) 87.68% 
    );
    width: 100%;
    min-height: 100vh;
    padding: 12px 60px;
    
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav{
    display: flex;
    align-items: center;
    gap: 20px;
}